# --- Python ---
__pycache__/
.venv/
env/
venv/
*.pyc
*.pyo
*.pyd

# --- Secretos y Configuración ---
.env
config_ESP32.h
**/config_ESP32.h

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# --- Node (opcional, por si acaso) ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
